
.navbar{
    .navbar-nav-link {
        color: rgb(107, 243, 225);
    }
}

input[type=text] {
    background-color: white;
    background-position: center; 
    background-repeat: no-repeat;
    color: black;
    border: black 2px;
  }

.pagination {
    a {
        background: rgb(107, 243, 225) !important;
        border-color: rgb(107, 243, 225);
        color: rgb(43, 119, 109);
    }

    a:hover {
        color: rgb(43, 119, 109);
    }
}
